@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import 'tailwindcss';

body {
  background: #1B2316;
  color: #FFFFFF;
    font-family: 'Inter', system-ui, sans-serif;
  overflow-x: hidden;
  margin: 0;
 
}

#back-filter{
    position: relative;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);

    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0px 9px 18.4px 0px #00000040;
    border-radius: 20px;
    overflow: visible;
}

.glass-panel {
  background: #FFFFFF0D;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

